.navbar{
    background-color: rgb(11, 2, 58) !important;
    font-family: Lato;
}

.nav-link{
    color:rgb(255, 255, 255) !important;
    font-family: Lato;
}

.btn{
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;  
    padding: 5px 40px !important;
    background-color: rgb(11, 2, 58);
    color: white;
    /* background-color: rgb(95, 16, 20) !important; */
}

.btn1:hover {
    background-color: rgb(157, 226, 235) !important;
}

.btn2:hover {
    background-color: rgb(157, 226, 235) !important;
}

.alert1{
    background-color: rgb(218, 201, 201) !important;
}

.card{
    color: black;
    font-family: Lato;
}

.card2 {
    background-color: rgb(11, 2, 58);
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important;  
    padding: 5px 40px !important;
    font-family: Lato; 
}

.card-text {
    color:white;
    justify-content: center;
    font-family: Lato;
}

.card-title {
    color:white;
    justify-content: center;
    font-family: Lato;
    font-weight: 500;
}

.table {
    background-color: rgba(238, 233, 187, 0.822);
    font-family: Lato;
}

.card-body {
    background-color:rgb(11, 2, 58);  
    padding: 5px 40px !important;
    font-family: Lato;
}

